.title{
  float:right;
    font-size: 25px;
    color:#131A2D;
    margin: 5px;
    margin-top:-10px;
}

.title1{
    margin-top: -28px;
    margin-right: 0px;
    margin-bottom: 15px;
    font-size: 15px;
    color:#131A2D;
    margin-left: 210px;
}

.logo{
  float:left;
  padding: 10px;
  width:220px;
  margin:0px;
}





.line {
  float:right;
  background: #D0C4AB;
  width: 100%;
  height: 5px;
  margin-top: -5px;
  margin-bottom: 35px;

}

.fondo{
  margin:-10px;
  height: 160px;
  background-color: #ffffff;
  
   
}

body {
  background-color: #131A2D;

}

.text{
  margin: 0px 0px 10px 80px;
  color:#D0C4AB;
}
.ima1{
  padding-top:30px;
  padding-bottom: 50px;
}
.ima2{
  float:left;
  padding: 10px;
  width:200px;
  margin:0px 200px 0px 50px;
  color:#D0C4AB;
  font-size: 30px;

}

.ima3{
  float:left;
  padding: 10px;
  width:200px;
  margin:0px 200px 0px 220px;
  color:#D0C4AB;
  font-size: 30px;
}

.ima4{
  float:left;
  padding: 10px;
  width:200px;
  margin:0px 200px -100px 50px;
  color:#D0C4AB;
  font-size: 30px;
  
}

h1,
h3 {
  text-transform: uppercase;
  text-align: right;
  
}

h2 {
   color: #bcbbbb;
   font-weight: 400; 
   font-size: 50px;
   margin:15px 0px 0px 10px;
}
.links {
  text-align: center;
   margin:-30px 0px 10px 10px;
}
a {
  text-decoration: none;
  color: #BCBBBB;

}
