.jumbotron .container {
    position: relative;
    top: 150px; 
    border: 1px solid white;
    width: 350px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    
}
.jumbotron {
  margin-top: 10px;
  background-image:url('C:\Users\Arquitectura Web\Downloads\ejercicios-html-y-css-2-mauryrodriguez-master\ejercicios-html-y-css-2-mauryrodriguez-master\Ejemplo 2\celu.png');
  height: 400px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 3em;  
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: bold;
}

.jumbotron p {
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
}
.line {
    background: #8BCC98;
    width: 100%;
    height: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.text {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    color: grey;
    background: white;
    width: 500px; 
}
@media screen and (max-width:560px) {
  .text {
    margin:1em;
    width: auto;
  }
}

body {
    margin: 0;
    padding: 0;
    background: #E8E8E7;
    font-family: 'Shift', sans-serif;
}